body{
    background-color: ghostwhite; 
}

.cool{
    visibility: hidden;
    widt: 100px;
    height: 70px;
    background-color: mediumseagreen;
    transition: background-color 3s;    
}

.cool.red{
    visibility: visible;
    background-color: red;
}